{% extends 'base/base.html' %}

{% block content %}

<h2>Lista de Produtos</h2>
<a href="{% url 'criar_produto' %}" class="btn-primary">
    ➕ Novo Produto
</a>

{% for produto in produtos %}
<div class="card">
    <h3>{{ produto.nome }}</h3>
    <p>{{ produto.descricao }}</p>
    <p>Preço: R$ {{ produto.preco }}</p>

    <p>Estoque: {{ produto.estoque.quantidade }}</p>

    {% if produto.estoque.quantidade <= 5 %}
        <p class="alerta">⚠️ Estoque baixo</p>
    {% endif %}

    <a href="{% url 'atualizar_produto' produto.id %}">Editar</a>
    <a href="{% url 'deletar_produto' produto.id %}" onclick="return confirmarExclusao()"> Deletar</a>
</div>
{% endfor %}

{% endblock %}